@use "../../app/variables";

.appHeader {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border-bottom: 1px solid rgb(228, 228, 228);
  > a {
    color: variables.$link-color;
    font-weight: 800;
    text-decoration: none;
  }
}

.active {
  color: greenyellow !important;
}
